.progressbar {
    width: 100%; 
    margin-top: 5px; 
    margin-bottom: 25px; 
    position: relative; 
    background-color: #f4f4f4;
}

.percentCount {
    float: right; 
    margin-top: -42px; 
    clear: both; 
    font-weight: 700; 
    font-size: 13px; 
    color: #777777;
}

.single-progressbar {
    display: block;
    width: 100%; 
    margin-bottom: 2%; 
    margin-left: 40%;
    position: relative; 
}

.pbar-pos {
    position: absolute;
    left: 30%;
    max-width: 40%;
}
